flows/nodered/nodered_dashboard.json
[
  {
    "id": "tab-smfg",
    "type": "tab",
    "label": "Smart Manufacturing",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ui-group-energy",
    "type": "ui_group",
    "name": "Energía — Planta CIMA",
    "tab": "ui-tab-main",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui-group-status",
    "type": "ui_group",
    "name": "Estado del Sistema",
    "tab": "ui-tab-main",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui-group-kpis",
    "type": "ui_group",
    "name": "KPIs en Tiempo Real",
    "tab": "ui-tab-main",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui-tab-main",
    "type": "ui_tab",
    "name": "Dashboard CIMA",
    "icon": "dashboard",
    "order": 1,
    "disp": true
  },
  {
    "id": "mqtt-in-energy",
    "type": "mqtt in",
    "z": "tab-smfg",
    "name": "MQTT — Energía",
    "topic": "cima/machines/+/energy",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 100,
    "wires": [["parse-energy"]]
  },
  {
    "id": "mqtt-in-heartbeat",
    "type": "mqtt in",
    "z": "tab-smfg",
    "name": "MQTT — Heartbeat",
    "topic": "cima/system/heartbeat",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt-broker-config",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 200,
    "wires": [["parse-heartbeat"]]
  },
  {
    "id": "parse-energy",
    "type": "function",
    "z": "tab-smfg",
    "name": "Parsear energía",
    "func": "const d = msg.payload;\n\n// Potencia actual\nmsg.power = { payload: d.power_w || 0 };\n\n// Corriente\nmsg.irms = { payload: parseFloat((d.irms_a || 0).toFixed(2)) };\n\n// Estado ciclo\nmsg.cycle = { payload: d.cycle_active ? '🔴 EN CICLO: ' + (d.part_id || '') : '⚪ Sin ciclo' };\n\n// Modo\nmsg.mode = { payload: d.simulated ? '🟡 SIMULACIÓN' : '🟢 REAL' };\n\n// Gauge de potencia\nmsg.payload = d.power_w || 0;\n\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 100,
    "wires": [["gauge-power", "text-cycle", "text-mode", "chart-power"]]
  },
  {
    "id": "parse-heartbeat",
    "type": "function",
    "z": "tab-smfg",
    "name": "Parsear heartbeat",
    "func": "const d = msg.payload;\nmsg.payload = '🟢 Online — ' + (d.device || '') + ' | RSSI: ' + (d.rssi || 0) + ' dBm | Uptime: ' + Math.floor((d.uptime || 0)/60) + ' min';\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 200,
    "wires": [["text-status"]]
  },
  {
    "id": "gauge-power",
    "type": "ui_gauge",
    "z": "tab-smfg",
    "name": "Potencia actual",
    "group": "ui-group-energy",
    "order": 1,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "Potencia (W)",
    "label": "W",
    "format": "{{value}}",
    "min": 0,
    "max": 3000,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": 1000,
    "seg2": 2000,
    "x": 620,
    "y": 60,
    "wires": []
  },
  {
    "id": "chart-power",
    "type": "ui_chart",
    "z": "tab-smfg",
    "name": "Historial energía",
    "group": "ui-group-energy",
    "order": 2,
    "width": "6",
    "height": "4",
    "label": "Consumo kW",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sin datos aún",
    "dot": false,
    "ymin": "0",
    "ymax": "3000",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4"],
    "outputs": 1,
    "x": 620,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "text-cycle",
    "type": "ui_text",
    "z": "tab-smfg",
    "group": "ui-group-status",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Estado ciclo",
    "label": "Ciclo productivo",
    "format": "{{msg.cycle.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 620,
    "y": 180,
    "wires": []
  },
  {
    "id": "text-mode",
    "type": "ui_text",
    "z": "tab-smfg",
    "group": "ui-group-status",
    "order": 2,
    "width": "6",
    "height": "1",
    "name": "Modo",
    "label": "Modo operación",
    "format": "{{msg.mode.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 620,
    "y": 220,
    "wires": []
  },
  {
    "id": "text-status",
    "type": "ui_text",
    "z": "tab-smfg",
    "group": "ui-group-status",
    "order": 3,
    "width": "6",
    "height": "1",
    "name": "Estado ESP32",
    "label": "Gateway IoT",
    "format": "{{value}}",
    "layout": "row-spread",
    "className": "",
    "x": 620,
    "y": 260,
    "wires": []
  },
  {
    "id": "inject-oee",
    "type": "inject",
    "z": "tab-smfg",
    "name": "Calcular OEE cada minuto",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 2,
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 340,
    "wires": [["calc-oee"]]
  },
  {
    "id": "calc-oee",
    "type": "function",
    "z": "tab-smfg",
    "name": "Calcular OEE simulado",
    "func": "// OEE = Disponibilidad × Rendimiento × Calidad\n// En modo simulación usamos valores realistas variables\nconst disponibilidad = 0.90 + (Math.random() * 0.08);\nconst rendimiento = 0.88 + (Math.random() * 0.10);\nconst calidad = 0.95 + (Math.random() * 0.04);\nconst oee = disponibilidad * rendimiento * calidad;\n\nmsg.payload = parseFloat((oee * 100).toFixed(1));\nmsg.disponibilidad = parseFloat((disponibilidad * 100).toFixed(1));\nmsg.rendimiento = parseFloat((rendimiento * 100).toFixed(1));\nmsg.calidad = parseFloat((calidad * 100).toFixed(1));\n\nreturn msg;",
    "outputs": 1,
    "x": 400,
    "y": 340,
    "wires": [["gauge-oee", "text-disp", "text-rend", "text-cal"]]
  },
  {
    "id": "gauge-oee",
    "type": "ui_gauge",
    "z": "tab-smfg",
    "name": "OEE Global",
    "group": "ui-group-kpis",
    "order": 1,
    "width": "3",
    "height": "3",
    "gtype": "gage",
    "title": "OEE Global (%)",
    "label": "%",
    "format": "{{value}}%",
    "min": 0,
    "max": 100,
    "colors": ["#ca3838", "#e6e600", "#00b500"],
    "seg1": 60,
    "seg2": 80,
    "x": 660,
    "y": 300,
    "wires": []
  },
  {
    "id": "text-disp",
    "type": "ui_text",
    "z": "tab-smfg",
    "group": "ui-group-kpis",
    "order": 2,
    "width": "3",
    "height": "1",
    "name": "Disponibilidad",
    "label": "Disponibilidad",
    "format": "{{msg.disponibilidad}}%",
    "layout": "row-spread",
    "className": "",
    "x": 660,
    "y": 360,
    "wires": []
  },
  {
    "id": "text-rend",
    "type": "ui_text",
    "z": "tab-smfg",
    "group": "ui-group-kpis",
    "order": 3,
    "width": "3",
    "height": "1",
    "name": "Rendimiento",
    "label": "Rendimiento",
    "format": "{{msg.rendimiento}}%",
    "layout": "row-spread",
    "className": "",
    "x": 660,
    "y": 400,
    "wires": []
  },
  {
    "id": "text-cal",
    "type": "ui_text",
    "z": "tab-smfg",
    "group": "ui-group-kpis",
    "order": 4,
    "width": "3",
    "height": "1",
    "name": "Calidad",
    "label": "Calidad",
    "format": "{{msg.calidad}}%",
    "layout": "row-spread",
    "className": "",
    "x": 660,
    "y": 440,
    "wires": []
  },
  {
    "id": "mqtt-broker-config",
    "type": "mqtt-broker",
    "name": "RPi5 MQTT",
    "broker": "192.168.100.168",
    "port": "1883",
    "clientid": "nodered-smfg",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": "",
    "credentials": {
      "user": "smfg_user",
      "password": "SmartMfg2024!"
    }
  }
]
